### Step 2: Data Cleaning

In [4]:
# import dependencies
import pandas as pd
import numpy as np
import math

In [6]:
#import and read csv file
# my_file="gssInitialData.csv"
# df=pd.read_csv(my_file)

In [ ]:
# view shape of dataset
df.shape
# observe first few rows of dataset
df.head()
# view data types
df.dtypes

In [ ]:
# Quantify happiness response
dfclean = df.replace("Very happy", 10)
dfclean2 = dfclean.replace("Pretty happy", 5)
dfclean3 = dfclean2.replace("Not too happy", 0)

# drop all types of no answer responses
dfclean4 = dfclean3[dfclean3 != "Not applicable"]
dfclean5 = dfclean4[dfclean4 != "No answer"]
dfclean6 = dfclean5[dfclean5 != "Don't know"]
dfclean7 = dfclean6[dfclean6 != "Refused"] 
dfclean8 = dfclean7.dropna()

# convert happiness responses to numbers
dfclean8["General happiness"] = pd.to_numeric(dfclean8["General happiness"])
dfclean8["Year"] = dfclean8["Year"].astype('str')
dfclean8["ID"] = dfclean8["ID"].astype('str')

dfclean8
dfclean8.dtypes

dfclean8.groupby("U.S. Region").mean()
dfclean8.groupby("Health Condition").mean()
dfclean8.groupby("Income").mean()
dfclean8.groupby("Race").mean()
dfclean8.groupby("Sex").mean()
dfclean8.groupby("Marital status").mean()
dfclean8.groupby("Work Status").mean()

In [ ]:
# line chart
# gender and work status - mean happiness for each year

# year1 = dfclean8.loc[dfclean8["year"] == "2000", :]
# sex1 = year1.groupby("Sex").mean()
# work1 = year1.groupby("Work Status").mean()

In [ ]:
from flask import jsonify
dfclean8.to_dict(orient="record")
dfclean8.to_csv('gssCleanedData.csv', index=False)

In [62]:
from flask import jsonify
file7 = pd.read_csv('USOnly.csv')
USdf = file7.loc[:,:]
# USdf.groupby("Cause Name").mean()
USdf.drop('State', axis=1, inplace=True)
USdf.drop('Deaths', axis=1, inplace=True)
USdf.columns = ['Year', 'Cause', 'Rate']
# USdf2 = USdf.set_index(['Cause'])
USdf.head()
# USdf.to_dict(orient="list")

   Year                Cause  Rate
0  2016  Alzheimer's disease  30.3
1  2015  Alzheimer's disease  29.4
2  2014  Alzheimer's disease  25.4
3  2013  Alzheimer's disease  23.5
4  2012  Alzheimer's disease  23.8

In [61]:
# import dependencies
import pandas as pd
import numpy as np
import math
from flask import jsonify

file2 = pd.read_csv('NCHS_-_Leading_Causes_of_Death__United_States.csv')
StatesOnly = file2.loc[file2["State"] != "United States", :]
StatesOnly2 = StatesOnly.loc[StatesOnly["Cause Name"] != "All causes", :]
StatesOnly3 = StatesOnly2.drop(['113 Cause Name'], axis=1)
StatesOnly4 = StatesOnly3.drop(['Deaths'], axis=1)
StatesOnly4.columns = ['Year', 'Cause', 'State', 'Rate']
StatesOnly4.head()

# print(StatesOnly4.to_dict(orient="list"))

# StatesOnly4.to_csv('StatesOnly4.csv', index=False)

   Year                   Cause       State  Rate
0  2016  Unintentional injuries     Alabama  55.5
1  2016  Unintentional injuries      Alaska  63.1
2  2016  Unintentional injuries     Arizona  54.2
3  2016  Unintentional injuries    Arkansas  51.8
4  2016  Unintentional injuries  California  32.0